USE [master]
GO
/****** Object:  Database [Artify]    Script Date: 3/11/2025 09:47:09 ******/
CREATE DATABASE [Artify]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Artify', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Artify.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Artify_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Artify_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Artify].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Artify]
GO
/****** Object:  Table [dbo].[Artista]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artista](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Nacionalidad] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[UrlFoto] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[Biografia] [nvarchar](500) NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Artista] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Accion] [nvarchar](100) NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Criticidad] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[Tabla] [nvarchar](500) NOT NULL,
	[Suma] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obra]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Anio] [int] NOT NULL,
	[Tecnica] [nvarchar](100) NOT NULL,
	[EsOriginal] [bit] NOT NULL,
	[ArtistaId] [int] NOT NULL,
	[PrecioBase] [decimal](18, 2) NOT NULL,
	[PrecioActual] [decimal](18, 2) NOT NULL,
	[UrlImagen] [nvarchar](500) NOT NULL,
	[DVH] [int] NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Obra] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oferta]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oferta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdSubasta] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Oferta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagoSubasta]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagoSubasta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSubasta] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaPago] [datetime] NULL,
	[Pagado] [bit] NOT NULL,
	[DVH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipacionSubasta]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipacionSubasta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSubasta] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_ParticipacionSubasta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subasta]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subasta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdObra] [int] NOT NULL,
	[IdCurador] [int] NOT NULL,
	[PrecioInicial] [decimal](18, 2) NOT NULL,
	[IncrementoMinimo] [decimal](18, 2) NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[FechaProgramadaInicio] [datetime] NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[PrecioActual] [decimal](18, 2) NOT NULL,
	[IdClienteGanador] [int] NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Subasta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](500) NOT NULL,
	[Rol] [int] NOT NULL,
	[IntentosRestantes] [int] NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPermiso]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPermiso](
	[IdUsuario] [int] NOT NULL,
	[Ruta] [nvarchar](150) NOT NULL,
	[DVH] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[IdUsuarioRol] [int] NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artista] ON 

SET IDENTITY_INSERT [dbo].[Artista] OFF
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [Fecha], [Accion], [Modulo], [Criticidad], [IdUsuario], [DVH]) VALUES (85, CAST(N'2025-08-17T23:20:56.360' AS DateTime), N'Inicio de Sesion', N'Login', 1, 1, 688660)
INSERT [dbo].[Bitacora] ([Id], [Fecha], [Accion], [Modulo], [Criticidad], [IdUsuario], [DVH]) VALUES (86, CAST(N'2025-08-17T23:21:44.137' AS DateTime), N'Inicio de Sesion', N'Login', 1, 1, 987549)
INSERT [dbo].[Bitacora] ([Id], [Fecha], [Accion], [Modulo], [Criticidad], [IdUsuario], [DVH]) VALUES (87, CAST(N'2025-08-17T23:33:44.530' AS DateTime), N'Inicio de Sesion', N'Login', 1, 1, 722508)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[DVV] ([Tabla], [Suma]) VALUES (N'Usuario', 2112333)
INSERT [dbo].[DVV] ([Tabla], [Suma]) VALUES (N'Bitacora', 112609961)
INSERT [dbo].[DVV] ([Tabla], [Suma]) VALUES (N'Artista', 1670121)
GO
SET IDENTITY_INSERT [dbo].[Obra] ON 

INSERT [dbo].[Obra] ([Id], [Titulo], [Anio], [Tecnica], [EsOriginal], [ArtistaId], [PrecioBase], [PrecioActual], [UrlImagen], [DVH], [Activo]) VALUES (5, N'El estanque de ninfeas', 1899, N'Pintura', 1, 3, CAST(7500.00 AS Decimal(18, 2)), CAST(7500.00 AS Decimal(18, 2)), N'https://www.cuadrosdekorarte.com/wp-content/uploads/2023/12/Estanque-de-ninfeas.jpg', 495200, 0)
INSERT [dbo].[Obra] ([Id], [Titulo], [Anio], [Tecnica], [EsOriginal], [ArtistaId], [PrecioBase], [PrecioActual], [UrlImagen], [DVH], [Activo]) VALUES (6, N'La última cena', 1499, N'Lienzo', 0, 1, CAST(1200.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), N'https://wp.es.aleteia.org/wp-content/uploads/sites/7/2018/03/web3-the-last-supper-public-domain.jpg?resize=620,350&q=75', 509894, 1)
SET IDENTITY_INSERT [dbo].[Obra] OFF
GO
SET IDENTITY_INSERT [dbo].[Oferta] ON 

INSERT [dbo].[Oferta] ([Id], [Activo], [IdSubasta], [IdCliente], [Monto], [Fecha], [DVH]) VALUES (2, 1, 7, 2, CAST(7600.00 AS Decimal(18, 2)), CAST(N'2025-11-02T17:15:27.653' AS DateTime), 293688)
SET IDENTITY_INSERT [dbo].[Oferta] OFF
GO
SET IDENTITY_INSERT [dbo].[PagoSubasta] ON 

INSERT [dbo].[PagoSubasta] ([Id], [IdSubasta], [IdCliente], [Monto], [FechaCreacion], [FechaPago], [Pagado], [DVH]) VALUES (2, 7, 2, CAST(7600.00 AS Decimal(18, 2)), CAST(N'2025-11-02T17:21:40.147' AS DateTime), CAST(N'2025-11-02T19:42:37.333' AS DateTime), 1, 441445)
SET IDENTITY_INSERT [dbo].[PagoSubasta] OFF
GO
SET IDENTITY_INSERT [dbo].[ParticipacionSubasta] ON 

INSERT [dbo].[ParticipacionSubasta] ([Id], [IdSubasta], [IdCliente], [FechaPago], [Monto], [DVH]) VALUES (6, 7, 2, CAST(N'2025-11-02T17:15:22.097' AS DateTime), CAST(5.00 AS Decimal(18, 2)), 179240)
INSERT [dbo].[ParticipacionSubasta] ([Id], [IdSubasta], [IdCliente], [FechaPago], [Monto], [DVH]) VALUES (7, 8, 2, CAST(N'2025-11-02T18:55:30.450' AS DateTime), CAST(5.00 AS Decimal(18, 2)), 580523)
SET IDENTITY_INSERT [dbo].[ParticipacionSubasta] OFF
GO
SET IDENTITY_INSERT [dbo].[Subasta] ON 

INSERT [dbo].[Subasta] ([Id], [Activo], [IdObra], [IdCurador], [PrecioInicial], [IncrementoMinimo], [DuracionMinutos], [Estado], [FechaProgramadaInicio], [FechaInicio], [FechaFin], [FechaCreacion], [PrecioActual], [IdClienteGanador], [DVH]) VALUES (7, 1, 5, 4, CAST(7575.00 AS Decimal(18, 2)), CAST(75.75 AS Decimal(18, 2)), 5, 2, NULL, CAST(N'2025-11-02T17:14:11.157' AS DateTime), CAST(N'2025-11-02T17:19:11.157' AS DateTime), CAST(N'2025-11-02T17:14:03.800' AS DateTime), CAST(7600.00 AS Decimal(18, 2)), 2, 541934)
INSERT [dbo].[Subasta] ([Id], [Activo], [IdObra], [IdCurador], [PrecioInicial], [IncrementoMinimo], [DuracionMinutos], [Estado], [FechaProgramadaInicio], [FechaInicio], [FechaFin], [FechaCreacion], [PrecioActual], [IdClienteGanador], [DVH]) VALUES (8, 1, 6, 4, CAST(1212.00 AS Decimal(18, 2)), CAST(12.12 AS Decimal(18, 2)), 3, 1, NULL, CAST(N'2025-11-02T18:54:10.030' AS DateTime), CAST(N'2025-11-02T18:57:10.030' AS DateTime), CAST(N'2025-11-02T18:54:06.957' AS DateTime), CAST(1212.00 AS Decimal(18, 2)), NULL, 552878)
SET IDENTITY_INSERT [dbo].[Subasta] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Contraseña], [Rol], [IntentosRestantes], [Bloqueado], [DVH]) VALUES (1, N'Julian', N'Perez', N'perezdemontyjulian@gmail.com', N'25697e7d514b54c99b73c02693f8de30d5bc635a63b251678218436fdca9d3ea', 1, 3, 0, 314334)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Contraseña], [Rol], [IntentosRestantes], [Bloqueado], [DVH]) VALUES (2, N'Martina', N'Donadio', N'martinadonadio@gmail.com', N'25697e7d514b54c99b73c02693f8de30d5bc635a63b251678218436fdca9d3ea', 2, 3, 0, 930180)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Contraseña], [Rol], [IntentosRestantes], [Bloqueado], [DVH]) VALUES (4, N'Julian', N'Curador', N'jperezdemonty@live.com.ar', N'25697e7d514b54c99b73c02693f8de30d5bc635a63b251678218436fdca9d3ea', 3, 3, 0, 867819)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioPermiso] ([IdUsuario], [Ruta], [DVH]) VALUES (2, N'~/Bitacora.aspx', 354712)
INSERT [dbo].[UsuarioPermiso] ([IdUsuario], [Ruta], [DVH]) VALUES (2, N'~/HomeCurador.aspx', 18542)
GO
INSERT [dbo].[UsuarioRol] ([IdUsuarioRol], [Rol]) VALUES (1, N'WebMaster')
INSERT [dbo].[UsuarioRol] ([IdUsuarioRol], [Rol]) VALUES (2, N'Cliente')
INSERT [dbo].[UsuarioRol] ([IdUsuarioRol], [Rol]) VALUES (3, N'Curador')
GO
ALTER TABLE [dbo].[Obra] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Oferta] ADD  CONSTRAINT [DF_Oferta_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PagoSubasta] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PagoSubasta] ADD  DEFAULT ((0)) FOR [Pagado]
GO
ALTER TABLE [dbo].[PagoSubasta] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Subasta] ADD  CONSTRAINT [DF_Subasta_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Rol]  DEFAULT ((2)) FOR [Rol]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_IntentosRestantes]  DEFAULT ((3)) FOR [IntentosRestantes]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Bloqueado]  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[UsuarioPermiso] ADD  CONSTRAINT [DF_UsuarioPermiso_DVH]  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[PagoSubasta]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[PagoSubasta]  WITH CHECK ADD FOREIGN KEY([IdSubasta])
REFERENCES [dbo].[Subasta] ([Id])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_UsuarioRol] FOREIGN KEY([Rol])
REFERENCES [dbo].[UsuarioRol] ([IdUsuarioRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_UsuarioRol]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarDVV]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ActualizarDVV]
    @Tabla sysname 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @schema sysname = ISNULL(PARSENAME(@Tabla, 2), 'dbo');
    DECLARE @name   sysname = PARSENAME(@Tabla, 1);
    DECLARE @qualified nvarchar(300) = QUOTENAME(@schema) + N'.' + QUOTENAME(@name);

    IF OBJECT_ID(@qualified, 'U') IS NULL
        THROW 50000, 'La tabla especificada no existe.', 1;

    IF COL_LENGTH(@qualified, 'DVH') IS NULL
        THROW 50001, 'La tabla no posee columna DVH.', 1;

    DECLARE @sumaBig bigint, @sumaInt int;

    DECLARE @sql nvarchar(max) =
        N'SELECT @out = COALESCE(SUM(CONVERT(bigint, DVH)), 0) FROM ' + @qualified + N';';
    EXEC sp_executesql @sql, N'@out bigint OUTPUT', @out = @sumaBig OUTPUT;

    -- Validar que la suma entre en INT
    IF @sumaBig NOT BETWEEN -2147483648 AND 2147483647
        THROW 50002, 'Overflow al convertir SUM(DVH) a INT para DVV.', 1;

    SET @sumaInt = CONVERT(int, @sumaBig);

    -- Upsert en DVV (Tabla nvarchar(50), calculoDVH int)
    IF EXISTS (SELECT 1 FROM dbo.DVV WITH (UPDLOCK, HOLDLOCK) WHERE Tabla = @name OR Tabla = @Tabla)
        UPDATE dbo.DVV
           SET Suma = @sumaInt
         WHERE Tabla = @name OR Tabla = @Tabla;
    ELSE
        INSERT INTO dbo.DVV (Tabla, Suma)
        VALUES (@name, @sumaInt);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarDVV]    Script Date: 3/11/2025 09:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_VerificarDVV]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @tabla sysname, @sumaDVV bigint;
    DECLARE @schema sysname, @name sysname, @qualified nvarchar(300);
    DECLARE @sql nvarchar(max), @sumaActual bigint;

    DECLARE @out TABLE
    (
        Tabla   sysname,
        SumaDVH bigint   -- suma actual correcta
        -- Si querés ver también lo registrado: agrega SumaDVV bigint y hacé el INSERT con @sumaDVV
    );

    DECLARE c CURSOR LOCAL FAST_FORWARD FOR
        SELECT Tabla, Suma FROM dbo.DVV;

    OPEN c;
    FETCH NEXT FROM c INTO @tabla, @sumaDVV;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @schema    = ISNULL(PARSENAME(@tabla, 2), 'dbo');
        SET @name      = PARSENAME(@tabla, 1);
        SET @qualified = QUOTENAME(@schema) + N'.' + QUOTENAME(@name);

        BEGIN TRY
            SET @sql = N'SELECT @o = COALESCE(SUM(CONVERT(bigint, DVH)), 0) FROM ' + @qualified + N';';
            EXEC sp_executesql @sql, N'@o bigint OUTPUT', @o = @sumaActual OUTPUT;

            IF (@sumaActual <> @sumaDVV)
                INSERT INTO @out (Tabla, SumaDVH) VALUES (@tabla, @sumaActual);
        END TRY
        BEGIN CATCH
            -- Si falta la tabla o la columna DVH, lo marcamos como inconsistente.
            INSERT INTO @out (Tabla, SumaDVH) VALUES (@tabla, NULL);
        END CATCH

        FETCH NEXT FROM c INTO @tabla, @sumaDVV;
    END

    CLOSE c; DEALLOCATE c;

    SELECT Tabla, SumaDVH
    FROM @out
    ORDER BY Tabla;
END
GO
USE [master]
GO
